{% load widget_tweaks %}
{% load field_class from forms %}

<fieldset class="fieldset">
{% if field.field.widget.input_type == "checkbox" %}
  <label class="label my-2">
    {{ field|add_class:"checkbox" }}

    {{ field.label }}
    {% if field.field.required %}<span class="text-red-600">*</span>{% endif %}
  </label>
{% else %}
  <label for="{{ field.id_for_label }}" class="fieldset-legend">
    <span>
      {{ field.label }}
      {% if field.field.required %}<span class="text-red-600">*</span>{% endif %}
    </span>
  </label>

  {% if not field.errors %}
    {% field_class field as cls %}
    {% with class=cls|add:" w-full" %}
      {% render_field field class=class %}
    {% endwith %}
  {% else %}
    {% field_class field error=True as cls %}
    {% with class=cls|add:" w-full" %}
      {% render_field field class=class %}
    {% endwith %}
  {% endif %}

  {% if field.errors %}
    <p class="label text-error">{{ field.errors|first }}</p>
  {% endif %}
  {% if field.help_text %}
    <p class="label">{{ field.help_text|safe }}</p>
  {% endif %}
{% endif %}
</fieldset>
