{% load widget_tweaks %}

<div>
{% if field.field.widget.input_type == "checkbox" %}
  <label class="flex items-center gap-1.5">
    {{ field|add_class:"checkbox" }}
    <div class="flex flex-col">
      <span>
        <span class="text-sm font-medium">{{ field.label }}</span>
        {% if field.field.required %}<span class="text-error">*</span>{% endif %}
      </span>
      {% if field.help_text %}<span class="opacity-50 text-xs">{{ field.help_text|safe }}</span>{% endif %}
    </div>
  </label>
{% else %}
  <label for="{{ field.id_for_label }}" class="block text-sm font-medium">
    {{ field.label }}
    {% if field.field.required %}<span class="text-error">*</span>{% endif %}
  </label>

  {% if not field.errors %}
    {% render_field field class="input mt-2" %}
  {% else %}
    {% render_field field class="input mt-2 border-error placeholder-error" %}
  {% endif %}

  {% if field.errors %}
    <p class="mt-2 text-sm text-error">{{ field.errors|first }}</p>
  {% endif %}
  {% if field.help_text %}
    <p class="mt-2 text-sm opacity-50">{{ field.help_text|safe }}</p>
  {% endif %}
{% endif %}
</div>
